version: '3.9'

services:
  api:
    build: .
    container_name: pedido-api
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_NAME: pedidos
      DB_USER: postgres
      DB_PASSWORD: postgres
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: pedido-db
    restart: always
    environment:
      POSTGRES_DB: pedidos
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
