name: CI/CD - Build, Test, Push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        working-directory: pedido-service
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Basic import test
        working-directory: pedido-service
        run: |
          python -c "from app.main import app; print('APP_OK')"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: ./pedido-service
          push: true
          tags: julia06/pedido-service:1.0, julia06/pedido-service:latest
